html {
  height: 100%;
}

body {
  padding-top: 50px;
  font-family: 'Lato', sans-serif;
  position: relative;
  min-height: 100%;
  padding-bottom:640px;
}

.navbar {
  margin-bottom:0px;
}

.jumbo-church-meeting {
  color:white;
  height:280px;
  margin-bottom: 0px;
  background-image:url('../img/people.jpg');
  background-size:cover;
}

.jumbo-church-meeting .jumbo-church-meeting-text {
  padding-left:30px;
  /*opacity: 0.9;
  background-color:#1c2e54;*/
}

.jumbo-church-meeting h1 {
  font-size:50px;
  font-weight:900;
}

.live-alert {
  background-color:#e7e7e7;
  padding-top:20px;
  padding-bottom:0px;
}

.sfc-alert {
  background-color:rgba(12, 146, 12, 0.60);;
  padding-top:20px;
  padding-bottom:20px;
}

@media (min-width: 1200px) {
  body {
    padding-bottom:300px;
  }

  .jumbo-church-meeting {
    height:380px;
  }

  .jumbo-church-meeting h1 {
    font-size:70px;
  }

  .church-outline {
    display:block !important;
  }
}

@media (min-width: 992px) {
  body {
    padding-bottom:300px;
  }
}

.jumbo-church-meeting p {
  font-weight:100;
  letter-spacing: 1px;
  font-style: italic;
  font-size:18px
}

.squares {
  background-color:#e7e7e7;
  padding-top:30px;
  padding-bottom:30px;
}

.squares a:hover {
  text-decoration:none;
}

.square {
    background-color:#1c2e54;
    color: white;
    padding:10px;
    padding-left:20px;
    min-height:130px;
    margin-bottom:10px;
}

.square:hover {
  background-color:#4470CC;
}

.square.downloads {
  background-color:#A1C0FF;
}

.square.downloads:hover {
  background-color:#4470CC;
}

.square.live {
  background-color:#558CFF;
}

.square.live:hover {
  background-color:#4470CC;
}

.square.contact {
  background-color:#51607F;
}

.square.contact:hover {
  background-color:#4470CC;
}


.square h1 {
  font-weight:100;
}

.quote {
  font-size:25px;
  margin-top:30px;
  margin-bottom:30px;
  text-align:center;
  font-weight:300;
  font-style: oblique;
}

.news-blocks {
  margin-top:20px;
}

.news-block-heading {
  background-color:#4470CC;
  padding-top:1px;
  padding-bottom:5px;
  font-weight:100;
  color:white;
  text-align:center;
}

.news-block-heading h3 {
  font-weight:100;
}

.news-block-body {
  padding:10px;
}

.news-block-body p{
  font-size:20px;
}

.news-block-row {
  margin-top:5px;
  border-bottom-style:solid;
  border-width:1px;
  border-color: #e7e7e7;
  padding-top:15px;
  padding-bottom:10px;
}

.footer {
  margin-top:100px;
  padding-top: 50px;
  padding-bottom: 25px;
  background-color:#4470CC;
  color:white;
  position:absolute;
  bottom:0;
  width:100%;
  clear:both;
}

.footer-church-name h3 {
  font-weight:100;
}

.footer-church-name a {
  color:white;
}

.footer-copyright {
  font-weight:100;
  font-size:12px;
}

.footer-copyright a{
  color:white;
}

.audio {
  margin-top:5px;
  display:block;
  width:95%;
}

.audioPlayer {
  min-width : 300px;
}

.audioPlayer a {
  vertical-align:middle;
}

.audioPlayer button {
  vertical-align:middle;
}

.main-content {
  padding-bottom:50px;
  min-height:500px;
}

.sermon-buttons {
  margin-top:10px;
  margin-bottom:10px;
}

.sermon-select {
  margin-top:20px;
  margin-bottom:20px;
}

.google-maps {
  padding-bottom:20px;
}

.google-maps iframe {
    width: 100% !important;
    height: 300px !important;
}

#sbc-live-player {
  max-width:854px;
}
