<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,700,800" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text:400,400i" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>
    <!-- Add the slick-theme.css if you want default styling -->
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick-theme.css"/>
    <link rel="stylesheet" type="text/css" href="font-awesome-4.7.0/css/font-awesome.min.css"/>

    <title>{{title}}</title>

  </head>
  <body>

    <div class="container-fluid menu hidden-sm-down">
      <div class="row menu-row">
        <div class="offset-md-1 col-md-2 menu-column">
          <img src="img/logo_menu.png"/>
        </div>
        <div class="col-md-8 menu-column">
          <ul class="list-inline menu-items">
            <li class="list-inline-item"><a href=# class="menu-link">About</a></li>
            <li class="list-inline-item"><a href=# class="menu-link">Ministries</a></li>
            <li class="list-inline-item"><a href=# class="menu-link">Resources</a></li>
            <li class="list-inline-item"><a href=# class="menu-link">Visit Us</a></li>
            <li class="list-inline-item"><a href=# class="menu-link">Watch Live</a></li>
          </ul>
        </div>
      </div>
    </div>

    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa fa-bars" aria-hidden="true"></i>
      </button>
      <a class="navbar-brand" href="#">Navbar</a>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>

    <div class="container-fluid homepage-slider">
      <div class="center">
        {{#slides}}
        <div class="image-slide" style="background:linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),url('{{imageUrl}}')">
          <p class="image-slide-type">{{type}}</p>
          <hr>
          <p class="image-slide-title">{{{title}}}</p>
          <p class="image-slide-sub-title">{{subtitle}}</p>
          <div style="text-align:center">
            <a role="button" class="btn btn-outline-primary image-slide-button center-block" href="{{url}}">LISTEN AGAIN</a>
          </div>
        </div>
        {{/slides}}
      </div>
    </div>

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 homepage-text homepage-text-about">
          <h3>ABOUT</h3>
          <br>
          <p class="homepage-text-body">
            {{aboutText}}
          </p>
          <br>
          <a href="#">LEARN MORE</a>
        </div>
        <div class="col-md-6 homepage-text homepage-text-vision">
          <h3>OUR VISION</h3>
          <br>
          <p class="homepage-text-body">
            {{visionText}}
          </p>
          <br>
          <a href="#">LEARN MORE</a>
        </div>
      </div>
    </div>

    <div class="container-fluid homepage-welcome">
      <div class="row">
        <div class="offset-md-3 col-md-6">
          <h2>AS A CHURCH WE GATHER ON SUNDAYS AT 11.30AM &amp; 7.00PM</h2>
          <br />
          <h3>All are welcome and we would love to see you</h3>
          <br />
          <div style="text-align:center">
            <button type="button" class="btn btn-outline-primary what-to-expect-button">WHAT TO EXPECT</button>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid map-container" id="map"></div>

    <div class="container-fluid footer">
      <div class="row">
        <div class="col-lg-5">
          <div class="footer-breadcrumb hidden-sm-down">
            <a>About</a><span>&nbsp&#47</span>
            <a>Ministries</a><span>&nbsp&#47</span>
            <a>Resources</a><span>&nbsp&#47</span>
            <a>Visit Us</a><span>&nbsp&#47</span>
            <a>Contact</a>
          </div>
          <div>
            <address>
              <strong>Saintfield Baptist Church</strong><br>
              51 Crossgar Road, Saintfield<br>
              2017 &copy; Saintfield Baptist Church<br>
            </address>
          </div>
        </div>
        <div class="offset-lg-6 col-lg-1">
          <div class="float-right">
            <img class="float-right hidden-sm-down" src="img/logo_footer.png"/>
          </div>
        </div>
      </div>
    </div>

    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
    <script type="text/javascript" src="js/homepageSlider.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBpOe9TPLdG_AXEmXeshgdSMOxaJaPUP2U"></script>
    <script type="text/javascript" src="js/homepageMap.js"></script>

  </body>
</html>
