@font-face {
  font-family: 'KingsCaslonTrial-Italic';
  src: url('../font/KingsCaslonTrial-Italic.woff') format('woff'),
       url('../font/KingsCaslonTrial-Italic.ttf') format('truetype'),
       url('../font/KingsCaslonTrial-Italic.svg#KingsCaslonTrial-Italic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'KingsCaslon_Trial_It';
  src: url('../font/KingsCaslon_Trial_It.eot');
  src: url('../font/KingsCaslon_Trial_It.woff2') format('woff2'),
       url('../font/KingsCaslon_Trial_It.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: black;
}

/* unvisited link */
a:link {
  color: #000000;
}

/* visited link */
a:visited {
  color: #000000;
}

/* mouse over link */
a:hover {
  color: #000000;
  text-decoration: none !important;
  border-bottom: 2px solid #ff5a34;
}

/* selected link */
a:active {
  color: #000000;
}

.menu {
  background-color: white;
  height:120px;
  padding-top: 30px;
}

.menu-row {
  height:60px;
}

.menu-column {
  height:60px;
}

.menu-items {
  position: absolute;
  bottom: 0;
  right:0;
  margin-bottom: 0px !important;
  line-height: normal !important;
}

.menu-link {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 12pt !important;
}

.list-inline-item:not(:last-child) {
    margin-right: 30px !important;
}

.homepage-slider {
  overflow: hidden;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.image-slide {
  min-width:700px;
  min-height: 400px !important;
}

.image-slide-type {
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  font-size: 12pt !important;
  text-align: center;
  margin-top: 60px;
  color: white;
}

.image-slide-title {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 36pt !important;
  text-align: center;
  margin-top: 20px;
  color: white;
}

.image-slide-sub-title {
  font-family: 'KingsCaslonTrial-Italic', serif;
  font-size: 25pt !important;
  text-align: center;
  margin-top: 10px;
  color: white;
  font-weight: 200;
}

.image-slide-button {
  color:white;
  margin: 0 auto;
  border-color: white;
}
