body {
  background-color: black;
}

/* unvisited link */
a:link {
  color: #000000;
}

/* visited link */
a:visited {
  color: #000000;
}

/* mouse over link */
a:hover {
  color: #000000;
  text-decoration: none !important;
  border-bottom: 2px solid #ff5a34;
}

/* selected link */
a:active {
  color: #000000;
}

.menu {
  background-color: white;
  height:120px;
  padding-top: 30px;
}

.menu-row {
  height:60px;
}

.menu-column {
  height:60px;
}

.menu-items {
  position: absolute;
  bottom: 0;
  right:0;
  margin-bottom: 0px !important;
  line-height: normal !important;
}

.menu-link {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 12pt !important;
}

.list-inline-item:not(:last-child) {
    margin-right: 30px !important;
}

.homepage-slider {
  overflow: hidden;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.image-slide {
  max-width:700px;
  min-height: 400px !important;
}

.image-slide-type {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 12pt !important;
  text-align: center;
  margin-top: 30px;
  color: white;
}

.image-slide-title {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 36pt !important;
  text-align: center;
  margin-top: 20px;
  color: white;
}

@media only screen and (min-width: 768px) {
    .image-slide-type {
    	margin-top: 60px;
    	font-weight: 100;
    }
    .image-slide-button {
    	font-weight: 100;
    }
}

.image-slide-sub-title {
  font-family: 'Crimson Text', serif;
  font-size: 25pt !important;
  text-align: center;
  margin-top: 10px;
  color: white;
  font-weight: 200;
  font-style: italic;
}

.image-slide-button {
  color:white;
  margin: 0 auto;
  border-color: white;
  border-radius: 0 !important;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}

.image-slide-button:active {
  color:white;
  border-color: white;
  border-radius: 0 !important;
  background-color: transparent;
}

.image-slide-button:active:focus {
  color:white;
  border-color: white;
  border-radius: 0 !important;
  background-color: transparent;
  outline-color: white;
}

.image-slide-button:hover {
    background-color: #ff5a34;
    border-color: #ff5a34;
}

.image-slide-button:focus {
  background-color: #ff5a34;
  border-color: #ff5a34;
  outline-color: #ff5a34;
}

.image-slide hr {
    display: block;
    height: 2px;
    border: none;
    padding: 0;
    max-width:10%;
    color: white; /* old IE */
    background-color: white; /* Modern Browsers */
}

.homepage-text {
  text-align: justify;
  font-family: 'Raleway', sans-serif;
  padding: 80px;
}

.homepage-text h3 {
  font-weight: 800;
  text-decoration: underline;
}

.homepage-text a {
  font-weight: 800;
}

.homepage-text-body {
  font-family: 'Crimson Text', serif;
}

.homepage-text-about {
  background-color: #ff5a34;
  color:white;
}

.homepage-text-about a:link {
  color:white;
}

.homepage-text-vision {
  background-color: #e6e6e6;
  color:black;
}

.homepage-welcome {
  background-color: white;
  padding: 80px;
}

.homepage-welcome h2 {
  color:#ff5a34;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  text-align: center;
}

.homepage-welcome h3 {
  font-family: 'Crimson Text', serif;
  font-style: italic;
  text-align: center;
}

.what-to-expect-button {
  color:black;
  margin: 0 auto;
  border-color: #ff5a34;;
  border-radius: 0 !important;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}

.what-to-expect-button:focus {
  background-color: #ff5a34;
  border-color: #ff5a34;
  outline-color: #ff5a34;
}

.what-to-expect-button:active {
    background-color: #ff5a34;
    border-color: #ff5a34;
}

.what-to-expect-button:active:focus {
    background-color: #ff5a34;
    border-color: #ff5a34;
    outline-color: #ff5a34;
}

.what-to-expect-button:hover {
    background-color: #ff5a34;
    border-color: #ff5a34;
}

.map-container {
  height:400px;
}

.footer {
  background-color: #e6e6e6;
  color:black;
  padding:80px;
  font-family: 'Raleway', sans-serif;
}

.footer-breadcrumb {
  margin-bottom: 20px;
}
