.homepage-text {
  padding: 50px 100px;
}

.homepage-text.about {
  background-color: #ff5a34;
  color: white;
}

.homepage-text.vision {
  background-color: #e6e6e6;
  color: black;
}

.homepage-text h3 {
  display: inline-block;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.homepage-text.about h3 {
  border-bottom: 2px solid white;
}

.homepage-text.vision h3 {
  border-bottom: 2px solid black;
}
